{% extends "base.html" %}

{% block main %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
{% endfor %}
{% endif %}

{% if form.errors %}
<div class="alert alert-error">
    <h4>Please fix the following errors</h4>
    <ul>
        {% for field in form %}
        {% if field.errors %}
        {% for error in field.errors %}
        <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </ul>
    {% if form.non_field_errors %}
    {{ form.non_field_errors }}
    {% endif %}
</div>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please signup with an account that has access.</p>
{% else %}
<p>Please signup to see this page.</p>
{% endif %}
{% endif %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" novalidate method="post"  >
					{% csrf_token %}
					<span class="login100-form-title p-b-43">
						signup to continue
					</span>



<!--					<div class="wrap-input100 validate-input" data-validate = "Valid username is required: abc12345">-->
<!--						<input class="input100" type="text" name="username" >-->
<!--						<span class="focus-input100">{{form.username}}</span>-->
<!--						<span class="label-input100">{{ form.username.label_tag}}</span>-->
<!--					</div>-->


<!--					<div class="wrap-input100 validate-input" data-validate="Password is required">-->
<!--						<input class="input100" type="password" name="pass">-->
<!--						<span class="focus-input100" >{{ form.password }}</span>-->
<!--						<span class="label-input100">{{ form.password.label_tag }}</span>-->
<!--					</div>-->

					<div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="username" placeholder="Username">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter email">
                     <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    <input class="input100" type="password" name="password1" placeholder="Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                 <div class="wrap-input100 validate-input" data-validate="Enter password confirmation">
                   <input class="input100" type="password" name="password2" placeholder="Confirm_password">
                    <span class="focus-input100"></span>
                </div>


<!--					<div class="container-login100-form-btn">-->
<!--						<button class="login100-form-btn">-->
<!--							Signup-->
<!--						</button>-->
<!--					</div>-->
                     <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up</button>




				</form>

				<div class="login100-more" style="background-image: url( '/static/images/bg-01.jpg' );">
				</div>
			</div>
		</div>
	</div>
{# Assumes you setup the password_reset view in your URLconf #}
{% endblock %}